<nav class="navbar navbar-expand navbar-dark shadow-sm p-3 mb-1" style="background-color: #0000A4">
<img src="../../assets/images/iu-2.png" width="150px" height="44px">

    <div class="navbar-nav mx-auto">
        <textarea class="form-control form-control-dark search-bar" cols="55" rows="1" placeholder="Waar ben je naar opzoek?"
                aria-label="Search"></textarea>
    </div>

    <div class="navbar-nav ms+12">
        <a class="nav-item nav-link" [routerLink]="'/manual'" [routerLinkActive]="['active']">Inloggen</a>
        <a class="nav-item nav-link" [routerLink]="'/client-review'" [routerLinkActive]="['active']">Winkelmand</a>
    </div>

        <input [routerLink]="'/overlay'" class="nav navbar-nav ms-6" type="image" src="../assets/images/impairment.png" alt="Italian Trulli" style="width:69px;height:41px; position:relative;">
</nav>