<body onload={{onLoad()}}>
    <header class="background text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <button type="button" class="home-btn btn btn-light">Terug</button>
                <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="logo" src="/assets/images/iu-2.png">
                </a> -->
            </div>
        </div>
    </header>
    <div class="container">
        <button class="search-btn btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#searchModal">Zoeken...</button>
    </div>

    <div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Search Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Whoop whoop
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="enableLoadingScreen()" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loading-screen">
        <div class="spin"></div>
    </div>
</body>
