<body>
  <header class="background text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <button [routerLink]="'/navigation'" (mouseover)="textToSpeech('Terug')" (mouseout)="textToSpeech('')" type="button" class="home-btn btn btn-light">Terug</button>
        <a [routerLink]="'/navigation'" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="logo" src="../../assets/images/bol-logo.png">
        </a>
      </div>
    </div>
  </header>
  <div class="container" >
    <button (click)="textToSpeech('Maak een keuze op welk manier u een product wilt zoeken')" (mouseover)="textToSpeech('Zoeken')" class="search-btn btn btn-outline-light" data-bs-toggle="modal"
      data-bs-target="#chooseModal">Zoeken...</button>
  </div>

  <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="chooseModalLabel"
    aria-hidden="true" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="tosModalLabel"><b>Welkom!</b></h3>
        </div>
        <div class="modal-body">
          <p id="tosModalBody">Welkom bij de nieuwe pagina van bol.com! Deze pagina is speciaal gemaakt voor
            mensen met een visuele beperking. Op deze pagina is het mogelijk om artiekelen van de bol.com website
            te bekijken. Dit wordt mogelijk gemaakt doordat u een foto kunt uploaden, en aan de hand van die foto
            worden er resultaten weergegeven. Ook is het mogelijk dat u aan ons verteld wat u zoekt. Om deze functie
            te gebruiken is een microfoon helaas wel verplicht.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" id="confirm-button"
            (click)="closePopup()">Bevestigen</button>
        </div>
      </div>
    </div>
  </div>

  <div id="images" class="enhancedImages">
    <div id="imageContainer0" class="imageContainer">
      <div id="imageDiv0" class="imageDiv"></div>
    </div>
    <div id="imageContainer1" class="imageContainer">
      <div id="imageDiv1" class="imageDiv"></div>
    </div>
    <div id="imageContainer2" class="imageContainer">
      <div id="imageDiv2" class="imageDiv"></div>
    </div>
    <div id="imageContainer3" class="imageContainer">
      <div id="imageDiv3" class="imageDiv"></div>
    </div>
</div>

  <div class="modal fade" id="chooseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="chooseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="chooseModalLabel"><b>Maak een keuze</b></h3>
          <button type="button" (mouseover)="textToSpeech('Sluiten')" (mouseout)="textToSpeech('')" class="btn btn-outline-light" data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          </button>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" (mouseover)="textToSpeech('Foto uploaden')" (mouseout)="textToSpeech('')" class="btn btn-outline-light mr-auto" data-bs-dismiss="modal" data-bs-target="#imageModal"
            data-bs-toggle="modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-camera-fill" viewBox="0 0 16 16">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg>
          </button>
          <button (click)="textToSpeech('Spreek uw gewenste product in, door de microfoon knop ingedrukt te houden')" type="button" (mouseover)="textToSpeech('Spraak naar Tekst')" class="btn btn-outline-light" data-bs-toggle="modal"
          data-bs-target="#speechModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-mic-fill" viewBox="0 0 16 16">
              <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
              <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="imageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="imageModalLabel"><b>Upload een foto</b></h3>
        </div>
        <div class="modal-body">
          <form class="needs-validation" [formGroup]="uploadForm" novalidate>
            <div class="custom-file">
              <input (mouseover)="textToSpeech('Bestand kiezen')" class="form-control form-control-lg" id="formFileLg" formControlName="file"
                (change)="onImageChange($event)" type="file" accept="image/*" />
              <div class="invalid-feedback">
                Ontbrekende Foto!
              </div>
              </div>
            </form>
          </div>
        <form [formGroup]="uploadForm">
          <div class="modal-footer justify-content-between">
            <button (mouseover)="textToSpeech('Bevestigen')" type="button" class="btn btn-outline-light mr-auto" (click)="toggleLoadingScreen()"
              data-bs-dismiss="modal" [disabled]="uploadForm.invalid">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
            </button>
            <button (mouseover)="textToSpeech('Annuleren')" type="button" class="btn btn-outline-light" data-bs-dismiss="modal" (click)="delete()"
              data-bs-toggle="modal" data-bs-target="#chooseModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>

  <div class="modal fade" id="speechModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="imageModalLabel"><b>Spreek uw gewenste product in:</b></h3>
        </div>
        <div class="modal-body">
            <div class="custom-file">
              <input type="text" [(ngModel)]='ingesprokenProduct' class="form-control" id="speechToTextBox" placeholder="Hier komt uw ingesproken product te staan">
              <div class="invalid-feedback">
                Geen spraak!
              </div>
            </div>
        </div>
          <div class="modal-footer justify-content-between">
            <button (mouseover)="textToSpeech('Bevestigen')" type="button" class="btn btn-outline-light mr-auto" (click)="loadImages(ingesprokenProduct)"
              data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
            </button>
            <input type='image' id="microphoneIcon" (mousedown)="speechToText(true)" (mouseout)="speechToText(false)" (pointerup)="speechToText(false)" (mouseup)="textToSpeech('')" class="mr-auto" height="100px" style="filter: invert(77%) sepia(97%) saturate(2085%) hue-rotate(57deg) brightness(98%) contrast(90%);" width="100px" (mouseover)="textToSpeech('Houdt uw muis ingedrukt, en spreek vervolgens uw gewenste product in. Zodra u klaar bent met spreken, laat uw muis dan weer los')" src="../../assets/images/microphoneIcon.png">
            <button (mouseover)="textToSpeech('Annuleren')" (mouseout)="textToSpeech('')" type="button" class="btn btn-outline-light" data-bs-dismiss="modal"
              data-bs-toggle="modal" data-bs-target="#chooseModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg>
            </button>
          </div>
      </div>
    </div>
  </div>

  <div id="loading-screen" class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

</body>
