<body>
  <header class="background text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <button type="button" class="home-btn btn btn-light">Terug</button>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="logo" src="../../assets/images/bol-logo.png">
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <button class="search-btn btn btn-outline-dark" data-bs-toggle="modal"
      data-bs-target="#chooseModal">Zoeken...</button>
  </div>

  <div class="modal fade" id="chooseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="chooseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="chooseModalLabel"><b>Maak een keuze</b></h3>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Sluiten</button>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-dark mr-auto" data-bs-dismiss="modal" data-bs-target="#imageModal"
            data-bs-toggle="modal">Foto Uploaden</button>
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Tekst naar Spraak</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="imageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="imageModalLabel"><b>Upload een foto</b></h3>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Sluiten</button>
        </div>
        <div class="modal-body">
          <form>
            <div class="custom-file">
              <input class="form-control form-control-lg" id="formFileLg" type="file" accept="image/*"/>
            </div>
          </form>
          <!-- <input type="file" name="itemImage" accept="image/*" /> -->
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-success mr-auto" onclick="enableLoadingScreen()"
            data-bs-dismiss="modal">Bevestigen</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal"
            data-bs-target="#chooseModal">Anuleren</button>
        </div>
      </div>
    </div>
  </div>

  <div id="loading-screen">
    <div class="spin"></div>
  </div>
</body>
